.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 6px;
  background: rgba(255, 255, 255, var(--nav-bar-bg-opacity, 1));
  // fixme: Safe Area Padding not working, should use native pass to GlobalProps?
  padding-top: calc(env(safe-area-inset-top) + 16px);
  // padding-bottom: calc(env(safe-area-inset-bottom) + 16px);
  padding-left: calc(env(safe-area-inset-left) + 6px);
  padding-right: calc(env(safe-area-inset-right) + 6px);
  .nav-bar__left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .icon {
      width: 24px;
      height: 24px;
    }
    .text {
      color: #333333;
      font-size: 18px;
      line-height: 26px;
    }
  }
  .nav-bar__center {
    .text {
      color: #333333;
      font-size: 18px;
      line-height: 26px;
    }
  }
  .nav-bar__right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .icon {
      width: 24px;
      height: 24px;
      &--hidden {
        opacity: 0;
      }
    }
    .text {
      color: #333333;
      font-size: 18px;
      line-height: 26px;
      &--hidden {
        opacity: 0;
      }
    }
  }
}
